.banner {
  position: relative;
  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 26.9375rem;
    opacity: 0.96;
  }
  &::after {
    right: 0;
    background: linear-gradient(90deg, rgba(13, 13, 13, 0) 0%, #0d0d0d 100%);
  }
  &::before {
    left: 0;
    background: linear-gradient(270deg, rgba(13, 13, 13, 0) 0%, #0d0d0d 100%);
  }
}
.banner__carousell {
  display: flex;
  align-items: center;
  width: 100%;
  &:hover {
    .banner__list {
      animation-play-state: paused !important;
      -webkit-animation-play-state: paused !important;
    }
  }
}
.banner__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 2rem;
  min-width: 100%;
  will-change: transform;

  &.carseFirst {
    animation: animateF 30s -30s linear infinite;
    -webkit-animation: animateF 30s -30s linear infinite;
  }
  &.carseSecond {
    animation: animateS 30s -15s linear infinite;
    -webkit-animation: animateS 30s -15s linear infinite;
  }
}
.banner__item {
  flex-shrink: 0;
}
.banner__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 8.625rem;
  height: 5.5rem;
  img {
    max-height: 100%;
  }
}

.support__heading {
  margin-bottom: 2.5rem;
  .tl2 {
    text-align: center;
  }
}

@keyframes animateF {
  0% {
    transform: translateX(calc(100% + var(--moveP)));
    -webkit-transform: translateX(calc(100% + var(--moveP)));
    -ms-transform: translateX(calc(100% + var(--moveP)));
  }
  100% {
    transform: translateX(calc(-100% + var(--moveM) - var(--gap)));
    -webkit-transform: translateX(calc(-100% + var(--moveM) - var(--gap)));
    -ms-transform: translateX(calc(-100% + var(--moveM) - var(--gap)));
  }
}

@keyframes animateS {
  0% {
    transform: translateX(var(--moveP));
    -webkit-transform: translateX(var(--moveP));
    -ms-transform: translateX(var(--moveP));
  }
  100% {
    transform: translateX(calc(-200% + var(--moveM) - var(--gap)));
    -webkit-transform: translateX(calc(-200% + var(--moveM) - var(--gap)));
    -ms-transform: translateX(calc(-200% + var(--moveM) - var(--gap)));
  }
}

@media screen and (max-width: 960px) {
  .banner {
    margin-top: 1.8125rem;
    &::after,
    &::before {
      width: 6rem;
    }
  }
  .banner__carousell {
    &:hover {
      .banner__list {
        animation-play-state: running !important;
        -webkit-animation-play-state: running !important;
      }
    }
  }
  .banner__list {
    gap: 1rem;
  }
  .banner__box {
    max-width: 6.2728rem;
    height: 4rem;
  }

  .support__heading {
    margin-bottom: 1.5rem;
  }
}
