<section class="advant pdt1">
  <div class="advant__container">
    <div class="advant__body">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide card-advant">
              <div class="card-advant__box">
                <div class="card-advant__icon">
                  <img src="./img/content/advant_1.png" alt="" />
                </div>
                <h2 class="tl4">Flexible Limits</h2>
                <div class="txt3 tch">
                  <p>
                    We provide customized solutions that cater to all users.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
            <li class="splide__slide card-advant">
              <div class="card-advant__box">
                <div class="card-advant__icon">
                  <img src="./img/content/advant_2.png" alt="" />
                </div>
                <h2 class="tl4">AML Compliance</h2>
                <div class="txt3 tch">
                  <p>
                    We partner with the best providers to ensure the highest
                    compliance standards.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
            <li class="splide__slide card-advant">
              <div class="card-advant__box">
                <div class="card-advant__icon">
                  <img src="./img/content/advant_3.png" alt="" />
                </div>
                <h2 class="tl4">Top-Level Security</h2>
                <div class="txt3 tch">
                  <p>
                    Our platform undergoes regular security audits to guarantee
                    safety at all times.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
