<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1 stlcol">
          Advanced<br />
          <span>OTC</span> Solution
        </h1>
        <div class="txt1 tcw">
          <p>Start Trading with High Liquidity</p>
        </div>
        <a href="#" class="btn-def"><span>Sign Up Now</span></a>
      </div>

      <div class="frame">
        <div class="frame__head" aria-hidden="true">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="frame__img no-select">
          <img src="./img/content/desc_1.png" alt="" />
        </div>

        <div class="frame__tab1 no-select">
          <img src="./img/content/tab_1.png" alt="" />
        </div>
        <div class="frame__tab2 no-select">
          <img src="./img/content/tab_2.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="hero__wrapp">
    <div class="hero__wav no-select">
      <img src="./img/decor/wave_1.png" alt="" />
    </div>
    <div class="fltrdec no-select" aria-hidden="true">
      <img src="./img/decor/fltr.svg" alt="" />
    </div>
  </div>
</section>
