<section class="panel pdt1">
  <div class="panel__container">
    <ul class="panel__items">
      <li class="panel__item">
        <h2 class="tl1 stlcol">20<span>+</span></h2>
        <p>Blockchains</p>
      </li>
      <li class="panel__item">
        <h2 class="tl1 stlcol">7<span>+</span></h2>
        <p>Liquidity providers</p>
      </li>
      <li class="panel__item">
        <h2 class="tl1 stlcol">10<span>M</span></h2>
        <p>Transaction limit</p>
      </li>
    </ul>
  </div>
</section>
