<section class="request">
  <div class="request__container">
    <div class="request__body">
      <div class="request__heading">
        <h2 class="tl2">Request details</h2>
        <div class="txt1 tch">
          <p>
            Schedule a product assessment with our team to find out how BTCbnk
            can help you grow
          </p>
        </div>
      </div>

      <div class="request__form">
        <form class="form submitForm">
          <div class="form__wrapp">
            <div class="form__row2">
              <label class="label__def">
                <p>Full Name</p>
                <span>
                  <input
                    type="text"
                    name="fullname"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <p>Company Name</p>
                <span>
                  <input
                    type="text"
                    name="companyname"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
            </div>
            <div class="form__row2">
              <label class="label__def">
                <p>Work email</p>
                <span>
                  <input
                    type="email"
                    name="email"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <p>Telegram</p>
                <span>
                  <input
                    type="text"
                    name="telegram"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
            </div>
            <div class="form__row3">
              <label class="label__def">
                <p>Region</p>
                <span>
                  <input
                    type="text"
                    name="region"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <p>Business type</p>
                <span>
                  <input
                    type="text"
                    name="business"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
              <label class="label__def">
                <p>Monthly expected turnover</p>
                <span>
                  <input
                    type="text"
                    name="turnover"
                    placeholder="Type here"
                    data-required="true"
                  />
                </span>
              </label>
            </div>
          </div>

          <button type="submit" class="btn-def bg-bl">
            <span>submit</span>
          </button>
        </form>
      </div>

      <div class="request__info">
        <p>
          By completing the form on our website, you are giving us permission to
          contact you with updates, notifications, promotional offers, and
          important information about our products or services. The obtained
          data is processed in accordance with our Privacy Policy
        </p>
      </div>
    </div>
  </div>

  <div class="request__wave no-select" aria-hidden="true">
    <img src="./img/decor/wave_2.png" alt="" />
  </div>
</section>
