<section class="solution pdt1">
  <div class="solution__container">
    <div class="solution__wrapp">
      <div class="solution__heading">
        <h2 class="tl2">Tailored Trading Solutions</h2>
        <div class="txt1 tch">
          <p>
            Enterprise Trading Infrastructure Built for Institutional Demands
          </p>
        </div>
      </div>

      <div class="solution__body">
        <div class="solution__part">
          <ul class="solution__cards">
            <li class="card-solut">
              <div class="card-solut__box">
                <div class="card-solut__icon">
                  <img src="./img/content/advant_4.png" alt="" />
                </div>
                <h2 class="tl5">Risk managements</h2>
                <div class="txt3 tch">
                  <p>
                    Advanced risk management tools with customizable parameters,
                    real-time exposure monitoring, and automated circuit
                    breakers.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
            <li class="card-solut">
              <div class="card-solut__box">
                <div class="card-solut__icon">
                  <img src="./img/content/advant_5.png" alt="" />
                </div>
                <h2 class="tl5">Position control</h2>
                <div class="txt3 tch">
                  <p>
                    Precise tracking and management of trading positions to
                    optimize portfolio performance and minimize potential risks.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
          </ul>

          <div class="frame">
            <div class="frame__head" aria-hidden="true">
              <div>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="frame__img no-select">
              <img src="./img/content/desc_2.png" alt="" />
            </div>

            <div class="frame__tab3 no-select">
              <img src="./img/content/tab_3.png" alt="" />
            </div>
          </div>
        </div>

        <div class="solution__part isReverse">
          <ul class="solution__cards">
            <li class="card-solut">
              <div class="card-solut__box">
                <div class="card-solut__icon">
                  <img src="./img/content/advant_6.png" alt="" />
                </div>
                <h2 class="tl5">Competitive Rates</h2>
                <div class="txt3 tch">
                  <p>
                    Negotiate favorable rates for your large crypto transactions
                    with our extensive network of liquidity providers.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
            <li class="card-solut">
              <div class="card-solut__box">
                <div class="card-solut__icon">
                  <img src="./img/content/advant_7.png" alt="" />
                </div>
                <h2 class="tl5">Large-Volume Trades</h2>
                <div class="txt3 tch">
                  <p>
                    Access a comprehensive suite of services designed to empower
                    your crypto investment journey.
                  </p>
                </div>
              </div>
              <div class="fltrdec no-select" aria-hidden="true">
                <img src="./img/decor/fltr.svg" alt="" />
              </div>
            </li>
          </ul>

          <div class="frame">
            <div class="frame__head" aria-hidden="true">
              <div>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            <div class="frame__img no-select">
              <img src="./img/content/desc_3.png" alt="" />
            </div>

            <div class="frame__tab4 no-select">
              <img src="./img/content/tab_4.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="fltrdec no-select" aria-hidden="true">
        <img src="./img/decor/fltr.svg" alt="" />
      </div>
    </div>
  </div>
</section>
