<section class="work pdt1">
  <div class="work__container">
    <div class="work__body">
      <div class="work__heading">
        <h2 class="tl2">Why work with us</h2>
      </div>

      <div class="tabl">
        <div class="tabl__feature">
          <div class="tabl__name">
            <p>Feature</p>
          </div>

          <div class="tabl__txt">
            <div>
              <p>Access to multiple liquidity providers via single API/GUI</p>
            </div>
            <div>
              <p>Aggregated, predictable execution with 0% rejection rate</p>
            </div>
            <div>
              <p>
                Flexible, automated settlement across multiple banks &
                blockchains
              </p>
            </div>
            <div>
              <p>Partial pre-funding or non-collateralised trading</p>
            </div>
            <div>
              <p>Ease of adding new liquidity providers</p>
            </div>
            <div>
              <p>OTC-as-a-Service with tailored mark-up and roll-over setup</p>
            </div>
            <div>
              <p>Full trading cycle management with Master- and Sub-accounts</p>
            </div>
            <div>
              <p>
                White-label solution to source and resell liquidity from global
                LPs
              </p>
            </div>
          </div>
        </div>

        <div class="tabl__body">
          <div class="tabl__scroll">
            <div class="tabl__row">
              <div class="tabl__name">
                <p>CEX</p>
              </div>

              <div class="tabl__availabil">
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
              </div>
            </div>

            <div class="tabl__row">
              <div class="tabl__name">
                <p>OTC Desks</p>
              </div>

              <div class="tabl__availabil">
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
              </div>
            </div>

            <div class="tabl__row">
              <div class="tabl__name">
                <p>Aggregators</p>
                <span>OMS/EMS</span>
              </div>

              <div class="tabl__availabil">
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/plus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
                <div>
                  <span>
                    <img src="./img/decor/minus.png" alt="" />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="tabl__row">
            <div class="tabl__name">
              <div class="tabl__logo">
                <span><img src="./img/icons/logo.svg" alt="Logo" /></span>
                <span><img src="./img/icons/logo_n.svg" alt="Logo" /></span>
              </div>
            </div>

            <div class="tabl__availabil">
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
              <div>
                <span>
                  <img src="./img/decor/plus.png" alt="" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fltrdec no-select" aria-hidden="true">
        <img src="./img/decor/fltr.svg" alt="" />
      </div>
    </div>
  </div>
</section>
